/* 
	GLOBAL
*/

* {
	margin: 			0;
	padding: 			0;
}

.clear{
	clear:				both;
}

.hidden{
	display: 			none;
}


/* 
	CONTAINERS 
*/

body {
	text-align: 		center;
	background-color:	#eeeeee;
	font-family: 		"aller";
}

.modal {
	display:    		none;
    z-index:    		1000;
    top:        		0;
    left:       		0;
    height:     		100%;
    width:      		100%;
    margin:     		0px;
    border:     		0px;
    background: 		rgba( 255, 255, 255, .8 ) 
                		url('../img/ajax-loader.gif') 
                		50% 50% 
                		no-repeat;
}

body.loading {
    overflow:			hidden;   
}

body.loading .modal {
    display:			block;
}

.container {
	margin-left: 		auto;
	margin-right:		auto;
}

.container ul li {
	list-style-type:	none;
	text-align: 		left;
	color: 				#222222;
	font-family: 		arial;
	font-size: 			18px;
	padding-top: 		10px;
	padding-bottom: 	10px;
}


/*
	NAVIGATION 
*/

header {
	position: 			fixed;
	z-index: 			100;
	width: 				100%;
	padding-top: 		10px;
	padding-bottom:		10px;

	background: 		-rgb(216,168,57); /* Old browsers */
	background: 		-moz-linear-gradient(top, rgba(216,168,57,1) 0%, rgba(185,137,26,1) 100%); /* FF3.6+ */
	background: 		-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,168,57,1)), color-stop(100%,rgba(185,137,26,1))); /* Chrome,Safari4+ */
	background: 		-webkit-linear-gradient(top, rgba(216,168,57,1) 0%,rgba(185,137,26,1) 100%); /* Chrome10+,Safari5.1+ */
	background: 		-linear-gradient(top, rgba(216,168,57,1) 0%,rgba(185,137,26,1) 100%); /* Opera 11.10+ */
	background: 		-ms-linear-gradient(top, rgba(216,168,57,1) 0%,rgba(185,137,26,1) 100%); /* IE10+ */
	background: 		linear-gradient(to bottom, rgba(216,168,57,1) 0%,rgba(185,137,26,1) 100%); /* W3C */
	filter: 			progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8a839', endColorstr='#b9891a',GradientType=0 ); /* IE6-9 */
	box-shadow:			0px 0px 5px 0px #333333;
}

header li{
	display: 			inline;
	margin-right: 		10px;
	margin-left:		10px;
}

img {
	width: 				60px;
}


/* 
	LISTS
*/

#response {
	padding-top: 		85px;
}

#beer-list p {
	color:				#999999;
	font-size:			12px;
	margin-top:			5px;	
}

#response li {
	background-color:	#ffffff;
	border-top:			solid 2px #cccccc;
	border-bottom:		solid 2px #cccccc;
	box-shadow:			0px 0px 5px 0px #666666;

	margin-top:			20px;
	margin-bottom:		20px;
	padding-top:		30px;
	padding-bottom: 	30px;
	padding-right: 		10px;
	padding-left: 		10px;
}

#response li a {
	color:				#333333;
	text-decoration:	none;
}

.circle {
	display:			inline-block;
	position: 			relative;
	top:				-13px;
	float: 				right;
	height:				60px;
	width:				60px;
	border-radius: 		60px;

	border: 			solid 3px #eeeeee;
	background-color:	#ffffff;
	box-shadow:			inset 0 0 5px #333333;
}

.circle.selected {
	background-color:	#851313;
}


/* HEADER */

h1 {
	float: 				left;
	position:			absolute;
}

h1 img {
	width:				70px;
	position:			relative;
	top:				5px;

}